.episodes {
  cursor: pointer;
}
.linkss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-top: -1em;
}

.links ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding-right: 5em;
  font-weight: 700;
}
.span {
  border: 1px solid transparent;
  background: rgb(255, 152, 0);
  color: rgb(255, 255, 255);
}

.morty {
  width: 100%;
  height: 100%;
  text-align: center;
  fill: rgb(245, 245, 245);
  font-size: 2.85rem;
}
.svg {
  padding-left: 30px;
  width: 50%;
}

body {
  margin: 0%;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
  list-style: none;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.capsula {
  background-color: rgb(39, 43, 51);
}
.inicio {
  background-color: white;
  text-align: center;
  font-size: 3.125rem;
}
.mi_div {
  background-color: rgb(60, 62, 68);
  display: flex;
  border-radius: 1em;
}

img {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  transition: opacity 0.5s ease 0s;
}

.texto {
  padding-left: 2em;
}
